/*
 * Import nib
 */
@import 'nib'

/*
 * Nib provides a CSS reset
 */
global-reset()

body
  background-color #000
  font-family Impact, Charcoal, sans-serif
  letter-spacing 4.20px

div
  position static

  img
    display none

  h1
    font-size 3em
    color #a00
    font-weight 100

html
  text-align center
  -webkit-background-size cover
  -moz-background-size cover
  -o-background-size cover
  background-size cover